/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --light: #F8F4EC;
  --light-pink: #FF9BD2;
  --dark-pink: #D63484;
  --dark: #402B3A;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--light);
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--dark);
}

img {
  cursor: default;
  transition: all 300ms ease;
}

img:hover {
  opacity: 0.9;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: var(--dark);
  text-decoration: none;
  text-decoration-color: var(--light);
}

a:hover {
  color: var(--light-pink);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: var(--light-pink);
}

.logo {
  font-size: 2rem;
  color: var(--dark-pink);
  font-weight: 600;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#sub-nav {
  display: none;
}

.sub-menu {
  position: relative;
  display: inline-block;
}

.sub-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.sub-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--dark);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--light);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3ms ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--dark);
  text-decoration: none;
  transition: all 0.3ms ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.sub-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.sub-icon.open span:nth-child(2) {
  opacity: 0;
}

.sub-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.sub-icon span:first-child {
  transform: none;
}

.sub-icon span:first-child {
  opacity: 1;
}

.sub-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 100%;
  margin: 0 6rem;
  box-sizing: border-box;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section-pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.me,
.about-pic {
  border-radius: 100%;
  border: var(--dark) 0.2rem solid;
}

.title {
  color: var(--dark-pink);
}

.section-text {
  align-self: center;
  text-align: center;
}

.section-text p {
  font-weight: 600;
}

.section-text-p1 {
  text-align: center;
}

.section-text-p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: var(--dark) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: var(--dark);
  color: var(--light);
}

.btn-color-1 {
  color: var(--light);
}

.btn-color-1:hover {
  background: var(--dark-pink);
}

.btn-color-2 {
  background: none;
  color: var(--dark);
}

.btn-color-2:hover {
  border: var(--light-pink) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}


.details-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--light);
  border-radius: 2rem;
  border: var(--light) 0.1rem solid;
  border-color: var(--dark);
  text-align: center;
}

.section-container {
  gap: 4rem;
}

.section-pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#skills {
  position: relative;
  margin: 6rem auto auto auto;
}

.skills-sub-title {
  color: var(--dark);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

h3 {
  color: var(--dark-pink);
}

.skills-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  flex-wrap: wrap;
  padding: 0 10rem;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  margin: 6rem auto auto auto;
  padding: 0;
}

.color-container {
  border-color: var(--dark);
  background: var(--light);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  border: var(--dark) 0.1rem solid;
}

.project-title {
  margin: 1rem;
  color: var(--dark);
}

.project-btn {
  color: var(--dark-pink);
  border-color: var(--dark);
}

.desc {
  padding: 10px 20px;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 6rem auto auto auto;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: var(--dark-pink) 0.1rem solid;
  border-color: var(--dark);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

.copyright {
  color: var(--light-pink);
  font-size: 70%;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 5rem;
  }
  #about {
    padding: 0 2rem;
  }
  .about-containers {
    margin: 1rem auto auto auto;
    padding: 0;
  }
  .text-container {
    margin: 1rem 0 0 0;
  }
  #contact,
  #projects {
    position: relative;
    height: 100%;
    width: 100%;
    top: -8rem;
  }
  #contact {
    margin: 5rem 0 0 0;
  }
  #projects {
    margin: 15rem auto auto auto;
    padding: auto 10rem;
  }
  #skills {
    margin: 6rem auto;
  }
  footer {
    position: relative;
    top: -5rem;
  }
  .copyright {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 1200px) {
  #navbar {
    display: none;
  }
  #sub-nav {
    display: flex;
  }
  #skills,
  .skills-details-container {
    position: relative;
    width: 100%;
    margin: 0;
    gap: 2rem;
    text-align: center;
  }
  #skills {
    top: 2rem;
    padding: 0 7rem;
  }

  #projects {
    margin: 0;
    padding: 0 7rem;
    top: 8rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  #about {
    padding: 0;
    top: 12rem;
  }
  .section-container {
    display: flex;
  }
  .section-pic-container {
    width: 275px;
    height: 275px;
    margin: 6rem auto 2rem auto;
  }
  .about-containers {
    margin-top: 2rem;
    padding: 0;
  }
  .skills-details-container {
    margin: -0.5rem auto auto auto;
    padding: 0;
  }
  .text-container {
    text-align: justify;
    padding: 0;
    margin: 2rem 0 15rem 0;
  }
  #contact {
    top: 4rem;
    z-index: 1;
  }
  .nav-links-container {
    margin: 9rem auto auto auto;
  }
  .copyright {
    margin: 6rem auto auto auto;
  }
}

@media screen and (max-width: 600px) {
  #contact {
    height: 100%;
    position: relative;
    top: 12rem;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  #about {
    padding: 0 2rem;
    margin: 0;
  }

  #skills {
    top: 12rem;
    margin: 0;
    padding: 0 2rem;
  }

  .skills-details-container {
    padding: 0;
  }
  article {
    font-size: 1rem;
  }
  footer, nav {
    position: relative;
  }
  .nav-links-container {
    position: relative;
    top: 8rem;
  }
  .copyright {
    position: relative;
    top: 16rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  #projects {
    top: 16rem;
    padding: 0 2rem;
    margin: 0 0 7rem 0;
  }
  .about-pic {
    width: auto;
    height: 15rem;
    margin: -4rem 0 auto 0;
  }
  .section-container {
    position: relative;
    justify-items: center;
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 0;
  }
  .contact-info-container {
    margin: 0.1rem;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .skills-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section-pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section-text-p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
    margin: 2rem 0 5rem 0;
    padding: 0;
  }

}
